 
<div class="container" >
  <h2 class="h1-responsive font-weight-bold text-center my-4">Proyectos</h2>
   <app-button-add-proyecto  *ngIf=loginok (newProyectoEvent)="reloadComponent($event)">  </app-button-add-proyecto>  
 
<!-- ......... -->
<div class="row">      
      <div class="col-sm-3 my-2" *ngFor="let proyecto of proyectoList"> 
        <div class="card">
          
          <div class="card-body">
 
            <img src={{proyecto.urlfoto}} class="card-img-top" alt={{proyecto.nombreproyecto}}> 
            <h5 class="card-title">{{proyecto.nombreproyecto}}  </h5>
           
            <p class="card-text">{{proyecto.descripcion}} </p>
            <a href={{proyecto.link}} target="_blank" class="btn btn-primary">Ir</a>    

            
            <button type="button" *ngIf=loginok style="background-color:transparent; border-color:transparent;" (click)="tempProyecto = proyecto" data-bs-toggle="modal" data-bs-target="#editarProyectoModal" >   
              <img src="https://drive.google.com/uc?export=view&id=1_Nq57MSqiGI3OWkRIUdxbUQG-cvpDQIp" height="35"/>                
            </button>
            <button type="submit"  *ngIf=loginok style="background-color:transparent; border-color:transparent;" (click)="tempProyecto = proyecto" data-bs-toggle="modal" data-bs-target="#borrarProyectoModal"> 
              <img src="https://drive.google.com/uc?export=view&id=1xTDp_N5N7ewDwHPgzz_6EvBFfj-Mqhod" height="35"/> 
            </button> 

         <div class="modal fade" id="editarProyectoModal" tabindex="-1" aria-labelledby="editarProyectoModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editarProyectoModal">Editar Proyecto </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="nombreProyecto" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nameProyecto" value={{tempProyecto.nombreproyecto}} >          
                </div>
                 
      
                <div class="mb-3">
                  <label for="descripcionProyecto" class="form-label">Porcentaje</label>
                  <input type="text" class="form-control" id="descripcionProyecto" value={{tempProyecto.descripcion}}> 
                </div> 
                <div class="mb-3">
                  <label for="linkProyecto" class="form-label">Link Proyecto</label>
                  <input type="text" class="form-control" id="linkProyecto" value={{tempProyecto.link}}> 
                </div>   
                <div class="mb-3">
                  <label for="urlFotoProyecto" class="form-label">URL Foto</label>
                  <input type="text" class="form-control" id="urlFotoProyecto" value={{tempProyecto.urlfoto}}> 
                </div> 


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" (click)="edit(tempProyecto.id ?? 0)"   class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
              </div>
              
            </div>
          </div>
        </div>

        <div class="modal fade" id="borrarProyectoModal" tabindex="-1" aria-labelledby="borrarProyectoModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" >Borrar Proyecto  </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Desea borrar el Proyecto {{tempProyecto.nombreproyecto}}?</label>             
                </div>           
              </div>
              <div class="modal-footer" >
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button"   (click)="delete(tempProyecto.id)" class="btn btn-danger" data-bs-dismiss="modal">Borrar</button>
              </div>
            </div>
          </div>
        </div>  
 
          </div>
        </div>    

      </div> 

  </div>
 
 
