<!-- Proyectos -->
<div class="container" >
<h2 class="h1-responsive font-weight-bold text-center my-4">Proyectos</h2>
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <img src="../../../assets/images/ps.png " class="card-img-top" alt="...">
          <h5 class="card-title">Titulo</h5>
          <p class="card-text">Descripcion bla bla bla.</p>
          <a href="#" class="btn btn-primary">Go  </a>
          <button type="button" style="background-color:transparent; border-color:transparent;"> 
            <img src="https://drive.google.com/uc?export=view&id=1_Nq57MSqiGI3OWkRIUdxbUQG-cvpDQIp" height="35"/> </button>
            <button type="submit" style="background-color:transparent; border-color:transparent;"> 
                <img src="https://drive.google.com/uc?export=view&id=1xTDp_N5N7ewDwHPgzz_6EvBFfj-Mqhod" height="35"/> </button>
        </div>
      </div>
    </div>
     
     
      
  </div>


</div>