 
<nav class="navbar  navbar-expand-lg navbar-dark bg-primary"  >
  <div class="container-fluid">
   <a class="navbar-brand text-light" href="/">
            <img src="https://drive.google.com/uc?export=view&id=1pd4scd3cfcsqyY51gC3KypropzytoAE8" style="width:120px"  class="rounded-pill">          </a>
    <a class="navbar-brand" href="javascript:void(0)">ARGENTINA PROGRAMA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="mynavbar">
     <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href='https://www.facebook.com/mario.h.carera' target="_blank">
          <i class="grey-text fab fa-facebook-square fa-2x" ></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href='https://www.instagram.com/mario.carera/' target="_blank"> 
          <i class="grey-text fab fa-instagram fa-2x"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href='https://twitter.com/marcar1976' target="_blank"> 
          <i class="grey-text fab fa-twitter fa-2x"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href='https://www.linkedin.com/in/mario-carera-16a71a98/' target="_blank">
          <i class="grey-text fab fa-linkedin fa-2x"></i>
        </a>
      </li>
      </ul> 
      <form class="d-flex">      
        <button class="btn btn-outline-light" type="button" (click)="loginok=!setlogin(loginok)" *ngIf="!loginok">Login</button>
         <button class="btn btn-outline-light" type="button" (click)="loginok=!setlogin(loginok)" *ngIf="loginok">Logout</button> 
         <div class="dropdown-menu">
          <form class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New around here? Sign up</a>
          <a class="dropdown-item" href="#">Forgot password?</a>
        </div>
      </form>
    </div>
  </div>
</nav>