 
<nav class="col-md-12 navbar   navbar-expand-md bg-primary ">
    <div class="container-fluid">
         <a class="navbar-brand text-light" href="/">
          <img src="https://drive.google.com/uc?export=view&id=1pd4scd3cfcsqyY51gC3KypropzytoAE8" style="width:120px;" class="rounded-pill">
          Portfolio ARGENTINA PROGRAMA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>        
        </button>
      </div>
     <!--  <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link active text-dark" aria-current="page" href="#">Home</a>
          <a class="nav-link text-dark" href="#">Features</a>                    
        </div>
      </div>-->
   
  </nav>
 