 
<nav class="col-sm-12 navbar   navbar-expand-lg bg-primary text-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="/">Portfolio ARGENTINA PROGRAMA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <!-- <a class="nav-link active text-dark" aria-current="page" href="#">Home</a>
          <a class="nav-link text-dark" href="#">Features</a>                     -->
        </div>
      </div>
    </div>
  </nav>
 