<div class="container" id="persona">
  <div class="row mt-4">
    <div class="col-sm-12 card p-2  bg-white">
      <img src="../../../assets/images/fondo.jpg" class="rounded mx-auto d-block img-fluid" alt="banner de fondo" />
    </div>
  </div>
   
  <div class="row">
    <div class="col-sm-3 card p-2 bg-white">
      <div class="card">
        <div class="card-body">
          <img src={{persona.url_foto}} class="card-img-top rounded rounded-circle mx-auto d-block img-fluid" />
          <h5 class="card-title">
            {{ persona.nombre }} {{ persona.apellido }}
          </h5>
          <h6 class="card-title">
            {{ persona.correo }}
          </h6>

          <app-button-edit-persona (newPersonaUpdateEvent)="reloadComponent($event)" [nombrePersona]="persona.nombre!"
            [apellidoPersona]="persona.apellido!" [domicilioPersona]="persona.domicilio!"
            [telefonoPersona]="persona.telefono!" [correoPersona]="persona.correo!"
            [fechaNacimientoPersona]="persona.fechaNacimiento!" [acercaDeMiPersona]="persona.sobre_mi!"
            [urlFotoPersona]="persona.url_foto!" *ngIf="isLogged && isAdmin">
          </app-button-edit-persona>
        </div>
      </div>
    </div>
    <div class="col-sm-9 card p-2    bg-white float-left">
      <h2 class="col-sm-6 h1-responsive font-weight-bold text-left text-white my-4 bg-secondary">Acerca de mi:
      </h2> 
      <h3>{{ persona.sobre_mi }}</h3>
    </div>
  </div>
</div>