<div class="row">     
        <div class="col-sm-12 card pt-2  border bg-white" >
            <img src="../../../assets/images/fondo.jpg" class="rounded mx-auto d-block img-fluid"   alt="banner de fondo">          
        </div>
</div>
<!--  About me-->
<div class="row">
    <div class="col-sm-3 card pt-2   bg-white" >
        <div class="card">
            <div class="card-body">
                <img src="https://drive.google.com/uc?export=view&id=1ZgyqVYIQRg3SNQaB2_DSucTFaq09HoX9" class="card-img-top rounded-circle  fmx-auto d-block img-fluid" alt="foto perfil">
              <h5 class="card-title">{{persona.nombre}} {{persona.apellido}}</h5>
              <p class="card-text" ></p> 
               
              <app-button-edit-persona></app-button-edit-persona>
            
              
            </div>
          </div>     
</div>
        <div class="col-sm-3 card pt-2  border bg-white float-left" >
            <h2 class="h2-responsive font-weight-bold text-center my-4">Acerca de mi: </h2>
             
            <h3>{{persona.sobre_mi}}</h3>
        </div>
</div>


        

