<div class="row">
     
        <div class="col-sm-12 card pt-2  border bg-white" >
            <img src="../../../assets/images/fondo.jpg" class="rounded mx-auto d-block img-fluid"  width="50%" alt=".">
            
        </div>
    </div>
<!--  About me-->
<div class="row">

        <div class="col-sm-3 card pt-2  border bg-white" >
            <img src="../../../assets/images/yo.jpeg" class="fmx-auto d-block img-fluid rounded-circle img-thumbnail "   alt=".">          
        </div>
        <div class="col-sm-3 card pt-2  border bg-white float-left" >
            <h1 class="h1-responsive font-weight-bold text-center my-4">Acerca de mi: </h1>
            <h3>Nombre: {{persona.nombre}} </h3>
            <h3>About: {{persona.sobre_mi}}</h3>
        </div>
</div>


        

