<!-- <button type="button"  style="background-color:transparent; border-color:transparent;" data-bs-toggle="modal" data-bs-target="#editSkillModal" >   
     <img src="https://drive.google.com/uc?export=view&id=1_Nq57MSqiGI3OWkRIUdxbUQG-cvpDQIp" height="35"/>   
    
  </button>
<button type="submit"  style="background-color:transparent; border-color:transparent;" data-bs-toggle="modal" data-bs-target="#borrarSkillModal"> 
    <img src="https://drive.google.com/uc?export=view&id=1xTDp_N5N7ewDwHPgzz_6EvBFfj-Mqhod" height="35"/> 
</button> 
 -->
 <!-- 
<div class="modal fade" id="editSkillModal" tabindex="-1" aria-labelledby="editSkillModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSkillModal">Editar Conocimiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="nombreSkill" class="form-label">Nombre</label>
          <input type="text"  class="form-control" id="nameSkill"  value={{nombreConocimiento}}>          
        </div>
        
        <div class="mb-3">
          <label for="porcentajeSkill" class="form-label">Porcentaje</label>
          <input type="text" class="form-control" id="percentSkill" value={{porcentajeConocimiento}}> 
        </div>
        
        <div class="mb-3">
          <label for="urlFotoSkill" class="form-label">URL Foto</label>
          <input type="text" class="form-control" id="urlFhotoSkill" value={{urlConocimiento}}> 
        </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="edit()"   
     
        class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
 
  
  
    <div class="modal fade" id="borrarSkillModal" tabindex="-1" aria-labelledby="borrarSkillModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Borrar Conocimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Desea borrar el conocimiento?</label>             
          </div>           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" (click)="delete()" class="btn btn-danger">Borrar</button>
        </div>
      </div>
    </div>
  </div>  
    -->