<div class="container">

    <hr class="bg-info border-2 border-top border-info">
    <h2 class="col-sm-6 h1-responsive font-weight-bold text-center text-white my-4 bg-info">Descargar DER</h2>

    <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/workbench.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">DER</h5>
            <p class="card-text">Descargue el Diagrama Entidad Relacion de mi portfolio.</p>
            <a href="https://drive.google.com/uc?export=view&id=16sOyOQICeU6e3IXKX5X-NVOwqExaea6K" target="_blank"
                class="btn btn-primary">Descargar</a>
        </div>
    </div>
</div>