<div class="container">
    <section class="mb-4">
        <hr class="bg-info border-2 border-top border-info" />
        <h2 class="col-sm-6 h1-responsive font-weight-bold text-center text-white my-4 bg-info">
            Contacteme
        </h2>

        <p class="text-center w-responsive mx-auto mb-5">
            Tiene una idea que quiere hacer realidad? Entonces, no dude en contactarse
            conmigo.
        </p>
        <div class="row">
            <div class="col-md-12 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST"  #formulario="ngForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mt-3 mb-0 form-floating">
                                <input type="text" class="form-control" name="name" id="name"
                                    placeholder="Nombre y Apellido" [(ngModel)]="tempFormulario.nombre" required/> 
                                <label for="name">Nombre y Apellido</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mt-3 mb-0 form-floating">
                                <input type="email" class="form-control" name="email" id="email" ngModel email="true"
                                    placeholder="Correo electronico" [(ngModel)]="tempFormulario.correo" required/>
                                <label for="email">Correo electronico</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mt-3 mb-0 form-floating">
                                <input type="text" class="form-control" name="subject" id="subject"
                                    placeholder="Asunto" [(ngModel)]="tempFormulario.asunto" required/>
                                <label for="subject">Asunto</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form form-floating mt-3 mb-0">
                                <textarea type="text" id="message" name="message" rows="2"
                                    class="form-control md-textarea" placeholder="Mensaje" [(ngModel)]="tempFormulario.mensaje" required> </textarea>
                                <label for="message">Mensaje</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center text-md-left my-2">
                    <button type="submit" (click)="addFormulario()" class="btn btn-primary" [disabled]="!formulario.valid">
                        Enviar
                    </button>
                </div>


                <div class="text-center text-md-left my-2">
                    <div *ngIf="isLogged && isAdmin">
                        <button type="button" *ngIf="!mostrar" (click)="mostrar = !mostrar" class="btn btn-primary">
                            Mostrar
                        </button>
                        <button type="button" *ngIf="mostrar" (click)="mostrar = !mostrar" class="btn btn-primary">
                            Ocultar
                        </button>
                    </div>
                </div>
                <app-formulario-list *ngIf="isLogged && isAdmin && mostrar">
                </app-formulario-list>
            </div>
        </div>
    </section>
   
</div>