<button type="button"  style="background-color:transparent; border-color:transparent;" data-bs-toggle="modal" data-bs-target="#addEducacion" >   
    <img src="https://drive.google.com/uc?export=view&id=1mA4JNTuOXpcmgWjGnizPsgpvoYeCX3ZR" height="35"/>  Agregar Educacion
 </button>

 <div class="modal fade" id="addEducacion" tabindex="-1" aria-labelledby="addEducacion" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="addEducacion"> Agregar Educacion</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div class="mb-3">
           <label for="1addNameEducacion" class="form-label">Nombre</label>
           <input type="text" class="form-control" id="addNameEducacion"  >          
         </div>
         
         <div class="mb-3">
           <label for="1addDescripcionEducacion" class="form-label">Descripcion</label>
           <input type="text" class="form-control" id="addDescripcionEducacion" > 
         </div>
         <div class="mb-3">
            <label for="1addUrlFotoEducacion" class="form-label">Link URL Webpage</label>
            <input type="text" class="form-control" id="addLinkEducacion" > 
          </div>  
          <div class="mb-3">
            <label for="fechaInicioEducacion" class="form-label">Año Inicio (yyyy)</label>
            <input type="text" class="form-control" id="fechaInicioEducacion"  >          
          </div>    
          <div class="mb-3">
            <label for="fechaFinEducacion" class="form-label">Año Fin (yyyy)</label>
            <input type="text" class="form-control" id="fechaFinEducacion" >          
          </div>    

         <div class="mb-3">
           <label for="addUrlPhotoEducacion" class="form-label">URL Foto</label>
           <input type="text" class="form-control" id="addUrlFotoEducacion" > 
         </div>        
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
         <button type="button"  (click)="addEducacion()"  class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
       </div>
     </div>
   </div>
 </div>


